.board-editor .spare {
  @extend %box-radius;

  display: flex;
  background: $c-font-dimmer;
  box-shadow: 0 3px 5px rgb(0 0 0 / 0.3) inset;

  &-top {
    grid-area: spare-top;
    margin-bottom: 2vh;
  }

  &-bottom {
    grid-area: spare-bottom;
    margin-top: 2vh;
  }

  .no-square {
    flex: 0 0 calc(100% / 9);
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;

    @include transition;

    &:hover {
      background: rgb(from $c-primary r g b / calc(alpha * 0.2));
    }

    &.selected-square {
      background: rgb(from $c-primary r g b / calc(alpha * 0.5));
    }

    div {
      @extend %square;
    }

    &.pointer {
      @extend %box-radius-left;

      &:hover {
        background: rgb(from $c-secondary r g b / calc(alpha * 0.2));
      }

      &.selected-square {
        background: rgb(from $c-secondary r g b / calc(alpha * 0.6));
      }

      piece {
        background-image: url('../images/icons/pointer.svg');
      }
    }

    &.trash {
      @extend %box-radius-right;

      &:hover {
        background: rgb(from $c-bad r g b / calc(alpha * 0.2));
      }

      &.selected-square {
        background: rgb(from $c-bad r g b / calc(alpha * 0.6));
      }

      piece {
        background-image: url('../images/icons/trash.svg');
      }
    }
  }

  piece {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }

  piece.pointer,
  piece.trash {
    margin: 14%;
    width: 72%;
    height: 72%;
  }
}
