.learn {
  grid-area: main;
  display: grid;
  gap: 2rem;

  &__side {
    grid-area: side;
  }

  &__main {
    grid-area: main;
    min-width: 0;
  }

  &__table {
    grid-area: table;
    min-width: 0;
  }

  &--map {
    grid-template-areas: 'side' 'main';
  }

  &--run {
    grid-template-areas: 'main' 'table' 'side';
  }

  @include mq-at-least-col2 {
    &--map {
      grid-template-areas: 'side main';
      grid-template-columns: 260px minmax(0, 1080px);
      align-items: start;
    }

    &--run {
      grid-template-areas: 'main table' 'side table';
      grid-template-columns: minmax(430px, 680px) minmax(320px, 400px);
      align-items: start;
    }
  }

  @include mq-at-least-col3 {
    &--run {
      grid-template-areas: 'side main table';
      grid-template-columns: 250px minmax(500px, 680px) minmax(330px, 390px);
    }
  }
}
